@model IEnumerable<Application.Web.Areas.Admin.Models.MenuViewModel>
@using Application.Web.Common
@using System.Collections
@using System.Text



<ul class="nav side-menu">
    @foreach (var menu in Model)
    {
        @if (menu.Children.Count > 0)
        {
            <li>
                <a><i class="@menu.CssClass"></i>@menu.Name<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @foreach (var subMenu in menu.Children)
                    {
                        @if (subMenu.Children.Count > 0)
                        {
                            <li>
                                <a><i class="@subMenu.CssClass"></i>@subMenu.Name<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">

                                    @foreach (var subSubMenu in subMenu.Children)
                                    {
                                        @if (subSubMenu.Children.Count > 0)
                                        {
                                            <li>
                                                <a><i class="@subSubMenu.CssClass"></i>@subSubMenu.Name<span class="fa fa-chevron-down"></span></a>                                                
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="~/@subSubMenu.ControllerName/@subSubMenu.ActionName"><i class="@subSubMenu.CssClass"></i>@subSubMenu.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/@subMenu.ControllerName/@subMenu.ActionName"><i class="@subMenu.CssClass"></i>@subMenu.Name</a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="~/@menu.ControllerName/@menu.ActionName"><i class="@menu.CssClass"></i>@menu.Name</a>
            </li>
        }
    }
</ul>
