@model IEnumerable<Application.Web.Areas.Admin.Models.AttributeViewModel>
@using Application.Web.Common

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_GentelellaAdmin.cshtml";
}

<div class="top-content-buffer"></div>
<div class="table-responsive">
    <div class="panel-heading panel-head respo">Attributes</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditAttributeModal" data-toggle="modal" asp-action="AddEditAttribute" data-target="#modal-action-attribute" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Attribute
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a id="editAttributeModal" data-toggle="modal" asp-action="AddEditAttribute" asp-route-id="@item.Id" data-target="#modal-action-attribute"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteAttributeModal" data-toggle="modal" asp-action="DeleteAttribute" asp-route-id="@item.Id" data-target="#modal-action-attribute" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                            <a id="addEditAttributeValueModal" asp-controller="AttributeValue" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="glyphicon glyphicon-plus"></i>  Add Attribute Value
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_Modal", new BootstrapModel { ID = "modal-action-attribute", AreaLabeledId = "modal-action-attribute-label", Size = ModalSize.Medium })
@section scripts
    {
    <script src="~/js/AdminJs/attribute-index.js" asp-append-version="true"></script>
}