@model IEnumerable<Application.Web.Areas.Admin.Models.ProductAttributeItemViewModel>
@using Application.Web.Common

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_GentelellaAdmin.cshtml";
}

<div class="top-content-buffer"></div>
<div class="table-responsive">
    <div class="panel-heading panel-head respo">Product Attribute Items</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditProductAttributeItemModal" data-toggle="modal" asp-action="AddEditProductAttributeItem" asp-route-productAttributeId="@ViewData["ProductAttributeId"]" data-target="#modal-action-product-attribute-item" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Product Attribute Item
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>                       
                        <td>
                            <a id="editProductAttributeItemModal" data-toggle="modal" asp-action="AddEditProductAttributeItem" asp-route-id="@item.Id" data-target="#modal-action-product-attribute-item"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteProductAttributeItemModal" data-toggle="modal" asp-action="DeleteProductAttributeItem" asp-route-id="@item.Id" data-target="#modal-action-product-attribute-item" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                            <a id="addEditProductAttributeItemModal" asp-controller="ProductAttribute" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="glyphicon glyphicon-menu-up"></i>  Product Attribute
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-product-attribute-item", AreaLabeledId = "modal-action-product-attribute-item-label", Size = ModalSize.Medium })
@section scripts
    {
    <script src="~/js/AdminJs/product-attribute-item-index.js" asp-append-version="true"></script>
}